.operations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 5px;
}

.operations div {
    width: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.operations input[type="radio"] {
    margin: 0;
    appearance: none;
}

.operations input[type="radio"]:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #3498db;
    border-radius: 50%;
    margin-right: 5px;
}

.operations input[type="radio"]:checked:before {
    background-color: #3498db;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 20px;
    text-align: center;
    color: #555;
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2980b9;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
